body{
	background-color:#FEC7D7;
}

/* div {
	column-count: 4;
	column-width: 200px;
	padding: 20px;
} */


/*footer*/



 .btn-categoria{
	border-radius: 25px;
	border: 2px solid;
	background-color: #0E172C; /* Green */
	border: none;
	color: white;
	padding: 15px 32px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	margin: 4px 2px;
	cursor: pointer;
 }
  footer {
	background: #f2f2f2;
	padding: 20px;
	overflow: hidden;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-evenly;
	margin: auto;
	width: 100%;
	}

	
